<section class="section">
    <div class="container">
      <div data-nosnippet class="custom-banner">
        我最近正好奇著大家讀完我的技術文章後的感想，有空的話可以幫我填一下：<a href="https://forms.gle/QuTY9yvKK3KRiGDj6" target="_blank">表單連結</a>
      </div>
    <%- partial('common/article', { post: page, index: false }) %>
    </div>
</section>