<section class="section">
    <div class="container">
      <% if(page_language() === 'zh-tw') { %>
      <div data-nosnippet class="self-notice">
        最近開了一個讀者回饋表單，無論是對文章的感想或是對部落格的感想，有什麼想回饋的都可以填表單跟我說：<a href="https://forms.gle/XuWyRC5qtSd2ANta8" target="_blank">表單連結</a>
      </div>
      <% } %>
    <%- partial('common/article', { post: page, index: false }) %>
    </div>
</section>